# Stringency Index Data Cleaning

### Data Sources
- Stringency Index Dataset: https://github.com/OxCGRT/covid-policy-tracker/blob/master/data/timeseries/stringency_index_avg.csv

### Importing Libraries:
`country_converter`: https://pypi.org/project/country-converter/

In [1]:
import pandas as pd
import numpy as np
import country_converter as coco

### 1. Load Dataset:

In [2]:
path_import = r"raw_data/stringency_index_avg.csv"
df_csv = pd.read_csv(path_import)

In [3]:
# Create copy of dataset to work with
df = df_csv.copy()

df.head(15)

,Unnamed: 0,country_code,country_name,region_code,region_name,jurisdiction,01Jan2020,02Jan2020,03Jan2020,04Jan2020,...,11Feb2023,12Feb2023,13Feb2023,14Feb2023,15Feb2023,16Feb2023,17Feb2023,18Feb2023,19Feb2023,20Feb2023
0,1,ABW,Aruba,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,AFG,Afghanistan,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,AGO,Angola,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,ALB,Albania,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,AND,Andorra,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,ARE,United Arab Emirates,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,ARG,Argentina,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,AUS,Australia,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,AUS,Australia,AUS_ACT,Australian Capital Territory,STATE_TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,AUS,Australia,AUS_NSW,New South Wales,STATE_TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,AUS,Australia,AUS_NT,Northern Territory,STATE_TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,AUS,Australia,AUS_QLD,Queensland,STATE_TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,AUS,Australia,AUS_SA,South Australia,STATE_TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,AUS,Australia,AUS_TAS,Tasmania,STATE_TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,AUS,Australia,AUS_VIC,Victoria,STATE_TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Columns: 1153 entries, Unnamed: 0 to 20Feb2023
dtypes: float64(1147), int64(1), object(5)
memory usage: 2.3+ MB

### 2. Drop State-Specific Rows:

In [5]:
# Keep all rows with national total data
df_filtered = df[df["jurisdiction"] == "NAT_TOTAL"]
df_filtered.head(15)

,Unnamed: 0,country_code,country_name,region_code,region_name,jurisdiction,01Jan2020,02Jan2020,03Jan2020,04Jan2020,...,11Feb2023,12Feb2023,13Feb2023,14Feb2023,15Feb2023,16Feb2023,17Feb2023,18Feb2023,19Feb2023,20Feb2023
0,1,ABW,Aruba,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,AFG,Afghanistan,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,AGO,Angola,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,ALB,Albania,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,AND,Andorra,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,ARE,United Arab Emirates,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,ARG,Argentina,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,AUS,Australia,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,AUT,Austria,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,AZE,Azerbaijan,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,BDI,Burundi,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,BEL,Belgium,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,BEN,Benin,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,BFA,Burkina Faso,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,BGD,Bangladesh,NaN,NaN,NAT_TOTAL,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3. Check Duplicates:

In [6]:
df_filtered[df_filtered.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, country_code, country_name, region_code, region_name, jurisdiction, 01Jan2020, 02Jan2020, 03Jan2020, 04Jan2020, 05Jan2020, 06Jan2020, 07Jan2020, 08Jan2020, 09Jan2020, 10Jan2020, 11Jan2020, 12Jan2020, 13Jan2020, 14Jan2020, 15Jan2020, 16Jan2020, 17Jan2020, 18Jan2020, 19Jan2020, 20Jan2020, 21Jan2020, 22Jan2020, 23Jan2020, 24Jan2020, 25Jan2020, 26Jan2020, 27Jan2020, 28Jan2020, 29Jan2020, 30Jan2020, 31Jan2020, 01Feb2020, 02Feb2020, 03Feb2020, 04Feb2020, 05Feb2020, 06Feb2020, 07Feb2020, 08Feb2020, 09Feb2020, 10Feb2020, 11Feb2020, 12Feb2020, 13Feb2020, 14Feb2020, 15Feb2020, 16Feb2020, 17Feb2020, 18Feb2020, 19Feb2020, 20Feb2020, 21Feb2020, 22Feb2020, 23Feb2020, 24Feb2020, 25Feb2020, 26Feb2020, 27Feb2020, 28Feb2020, 29Feb2020, 01Mar2020, 02Mar2020, 03Mar2020, 04Mar2020, 05Mar2020, 06Mar2020, 07Mar2020, 08Mar2020, 09Mar2020, 10Mar2020, 11Mar2020, 12Mar2020, 13Mar2020, 14Mar2020, 15Mar2020, 16Mar2020, 17Mar2020, 18Mar2020, 19Mar2020, 20Mar2020, 21Mar2020, 22Mar2020, 23Mar2020, 24Mar2020, 25Mar2020, 26Mar2020, 27Mar2020, 28Mar2020, 29Mar2020, 30Mar2020, 31Mar2020, 01Apr2020, 02Apr2020, 03Apr2020, ...]
Index: []

[0 rows x 1153 columns]

### 4. Check Whitespace:

In [7]:
df_check = df_filtered.copy()

df_check["country_name"] = df_filtered["country_name"].str.strip()

### 5. Drop Unnecessary Columns:
- Drop the following columns: `Unnamed: 0`, `country_code`, `region_code`, `region_name`, `jurisdiction`.

In [8]:
cols_to_drop = [
    "Unnamed: 0",
    "country_code",
    "region_code",
    "region_name",
    "jurisdiction",
]

df_drop_cols = df_check.drop(columns=cols_to_drop)
df_drop_cols

,country_name,01Jan2020,02Jan2020,03Jan2020,04Jan2020,05Jan2020,06Jan2020,07Jan2020,08Jan2020,09Jan2020,...,11Feb2023,12Feb2023,13Feb2023,14Feb2023,15Feb2023,16Feb2023,17Feb2023,18Feb2023,19Feb2023,20Feb2023
0,Aruba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,Vanuatu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Yemen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,South Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Zambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 6. Convert Date Column Names to `datetime`:

In [9]:
# Checks and converts column names to datetime if possible
def convert_dates(column_name):
    try:
        return pd.to_datetime(column_name, format="%d%b%Y").date()
    except (ValueError, TypeError):
        return column_name

In [10]:
# Check output
[convert_dates(col) for col in df_drop_cols.columns]

['country_name',
 datetime.date(2020, 1, 1),
 datetime.date(2020, 1, 2),
 datetime.date(2020, 1, 3),
 datetime.date(2020, 1, 4),
 datetime.date(2020, 1, 5),
 datetime.date(2020, 1, 6),
 datetime.date(2020, 1, 7),
 datetime.date(2020, 1, 8),
 datetime.date(2020, 1, 9),
 datetime.date(2020, 1, 10),
 datetime.date(2020, 1, 11),
 datetime.date(2020, 1, 12),
 datetime.date(2020, 1, 13),
 datetime.date(2020, 1, 14),
 datetime.date(2020, 1, 15),
 datetime.date(2020, 1, 16),
 datetime.date(2020, 1, 17),
 datetime.date(2020, 1, 18),
 datetime.date(2020, 1, 19),
 datetime.date(2020, 1, 20),
 datetime.date(2020, 1, 21),
 datetime.date(2020, 1, 22),
 datetime.date(2020, 1, 23),
 datetime.date(2020, 1, 24),
 datetime.date(2020, 1, 25),
 datetime.date(2020, 1, 26),
 datetime.date(2020, 1, 27),
 datetime.date(2020, 1, 28),
 datetime.date(2020, 1, 29),
 datetime.date(2020, 1, 30),
 datetime.date(2020, 1, 31),
 datetime.date(2020, 2, 1),
 datetime.date(2020, 2, 2),
 datetime.date(2020, 2, 3),
 datetime.date(2020, 2, 4),
 datetime.date(2020, 2, 5),
 datetime.date(2020, 2, 6),
 datetime.date(2020, 2, 7),
 datetime.date(2020, 2, 8),
 datetime.date(2020, 2, 9),
 datetime.date(2020, 2, 10),
 datetime.date(2020, 2, 11),
 datetime.date(2020, 2, 12),
 datetime.date(2020, 2, 13),
 datetime.date(2020, 2, 14),
 datetime.date(2020, 2, 15),
 datetime.date(2020, 2, 16),
 datetime.date(2020, 2, 17),
 datetime.date(2020, 2, 18),
 datetime.date(2020, 2, 19),
 datetime.date(2020, 2, 20),
 datetime.date(2020, 2, 21),
 datetime.date(2020, 2, 22),
 datetime.date(2020, 2, 23),
 datetime.date(2020, 2, 24),
 datetime.date(2020, 2, 25),
 datetime.date(2020, 2, 26),
 datetime.date(2020, 2, 27),
 datetime.date(2020, 2, 28),
 datetime.date(2020, 2, 29),
 datetime.date(2020, 3, 1),
 datetime.date(2020, 3, 2),
 datetime.date(2020, 3, 3),
 datetime.date(2020, 3, 4),
 datetime.date(2020, 3, 5),
 datetime.date(2020, 3, 6),
 datetime.date(2020, 3, 7),
 datetime.date(2020, 3, 8),
 datetime.date(2020, 3, 9),
 datetime.date(2020, 3, 10),
 datetime.date(2020, 3, 11),
 datetime.date(2020, 3, 12),
 datetime.date(2020, 3, 13),
 datetime.date(2020, 3, 14),
 datetime.date(2020, 3, 15),
 datetime.date(2020, 3, 16),
 datetime.date(2020, 3, 17),
 datetime.date(2020, 3, 18),
 datetime.date(2020, 3, 19),
 datetime.date(2020, 3, 20),
 datetime.date(2020, 3, 21),
 datetime.date(2020, 3, 22),
 datetime.date(2020, 3, 23),
 datetime.date(2020, 3, 24),
 datetime.date(2020, 3, 25),
 datetime.date(2020, 3, 26),
 datetime.date(2020, 3, 27),
 datetime.date(2020, 3, 28),
 datetime.date(2020, 3, 29),
 datetime.date(2020, 3, 30),
 datetime.date(2020, 3, 31),
 datetime.date(2020, 4, 1),
 datetime.date(2020, 4, 2),
 datetime.date(2020, 4, 3),
 datetime.date(2020, 4, 4),
 datetime.date(2020, 4, 5),
 datetime.date(2020, 4, 6),
 datetime.date(2020, 4, 7),
 datetime.date(2020, 4, 8),
 datetime.date(2020, 4, 9),
 datetime.date(2020, 4, 10),
 datetime.date(2020, 4, 11),
 datetime.date(2020, 4, 12),
 datetime.date(2020, 4, 13),
 datetime.date(2020, 4, 14),
 datetime.date(2020, 4, 15),
 datetime.date(2020, 4, 16),
 datetime.date(2020, 4, 17),
 datetime.date(2020, 4, 18),
 datetime.date(2020, 4, 19),
 datetime.date(2020, 4, 20),
 datetime.date(2020, 4, 21),
 datetime.date(2020, 4, 22),
 datetime.date(2020, 4, 23),
 datetime.date(2020, 4, 24),
 datetime.date(2020, 4, 25),
 datetime.date(2020, 4, 26),
 datetime.date(2020, 4, 27),
 datetime.date(2020, 4, 28),
 datetime.date(2020, 4, 29),
 datetime.date(2020, 4, 30),
 datetime.date(2020, 5, 1),
 datetime.date(2020, 5, 2),
 datetime.date(2020, 5, 3),
 datetime.date(2020, 5, 4),
 datetime.date(2020, 5, 5),
 datetime.date(2020, 5, 6),
 datetime.date(2020, 5, 7),
 datetime.date(2020, 5, 8),
 datetime.date(2020, 5, 9),
 datetime.date(2020, 5, 10),
 datetime.date(2020, 5, 11),
 datetime.date(2020, 5, 12),
 datetime.date(2020, 5, 13),
 datetime.date(2020, 5, 14),
 datetime.date(2020, 5, 15),
 datetime.date(2020, 5, 16),
 datetime.date(2020, 5, 17),
 datetime.date(2020, 5, 18),
 datetime.date(2020, 5, 19),
 datetime.date(2020, 5, 20),
 datetime.date(2020, 5, 21),
 datetime.date(2020, 5, 22),
 datetime.date(2020, 5, 23),
 datetime.date(2020, 5, 24),
 datetime.date(2020, 5, 25),
 datetime.date(2020, 5, 26),
 datetime.date(2020, 5, 27),
 datetime.date(2020, 5, 28),
 datetime.date(2020, 5, 29),
 datetime.date(2020, 5, 30),
 datetime.date(2020, 5, 31),
 datetime.date(2020, 6, 1),
 datetime.date(2020, 6, 2),
 datetime.date(2020, 6, 3),
 datetime.date(2020, 6, 4),
 datetime.date(2020, 6, 5),
 datetime.date(2020, 6, 6),
 datetime.date(2020, 6, 7),
 datetime.date(2020, 6, 8),
 datetime.date(2020, 6, 9),
 datetime.date(2020, 6, 10),
 datetime.date(2020, 6, 11),
 datetime.date(2020, 6, 12),
 datetime.date(2020, 6, 13),
 datetime.date(2020, 6, 14),
 datetime.date(2020, 6, 15),
 datetime.date(2020, 6, 16),
 datetime.date(2020, 6, 17),
 datetime.date(2020, 6, 18),
 datetime.date(2020, 6, 19),
 datetime.date(2020, 6, 20),
 datetime.date(2020, 6, 21),
 datetime.date(2020, 6, 22),
 datetime.date(2020, 6, 23),
 datetime.date(2020, 6, 24),
 datetime.date(2020, 6, 25),
 datetime.date(2020, 6, 26),
 datetime.date(2020, 6, 27),
 datetime.date(2020, 6, 28),
 datetime.date(2020, 6, 29),
 datetime.date(2020, 6, 30),
 datetime.date(2020, 7, 1),
 datetime.date(2020, 7, 2),
 datetime.date(2020, 7, 3),
 datetime.date(2020, 7, 4),
 datetime.date(2020, 7, 5),
 datetime.date(2020, 7, 6),
 datetime.date(2020, 7, 7),
 datetime.date(2020, 7, 8),
 datetime.date(2020, 7, 9),
 datetime.date(2020, 7, 10),
 datetime.date(2020, 7, 11),
 datetime.date(2020, 7, 12),
 datetime.date(2020, 7, 13),
 datetime.date(2020, 7, 14),
 datetime.date(2020, 7, 15),
 datetime.date(2020, 7, 16),
 datetime.date(2020, 7, 17),
 datetime.date(2020, 7, 18),
 datetime.date(2020, 7, 19),
 datetime.date(2020, 7, 20),
 datetime.date(2020, 7, 21),
 datetime.date(2020, 7, 22),
 datetime.date(2020, 7, 23),
 datetime.date(2020, 7, 24),
 datetime.date(2020, 7, 25),
 datetime.date(2020, 7, 26),
 datetime.date(2020, 7, 27),
 datetime.date(2020, 7, 28),
 datetime.date(2020, 7, 29),
 datetime.date(2020, 7, 30),
 datetime.date(2020, 7, 31),
 datetime.date(2020, 8, 1),
 datetime.date(2020, 8, 2),
 datetime.date(2020, 8, 3),
 datetime.date(2020, 8, 4),
 datetime.date(2020, 8, 5),
 datetime.date(2020, 8, 6),
 datetime.date(2020, 8, 7),
 datetime.date(2020, 8, 8),
 datetime.date(2020, 8, 9),
 datetime.date(2020, 8, 10),
 datetime.date(2020, 8, 11),
 datetime.date(2020, 8, 12),
 datetime.date(2020, 8, 13),
 datetime.date(2020, 8, 14),
 datetime.date(2020, 8, 15),
 datetime.date(2020, 8, 16),
 datetime.date(2020, 8, 17),
 datetime.date(2020, 8, 18),
 datetime.date(2020, 8, 19),
 datetime.date(2020, 8, 20),
 datetime.date(2020, 8, 21),
 datetime.date(2020, 8, 22),
 datetime.date(2020, 8, 23),
 datetime.date(2020, 8, 24),
 datetime.date(2020, 8, 25),
 datetime.date(2020, 8, 26),
 datetime.date(2020, 8, 27),
 datetime.date(2020, 8, 28),
 datetime.date(2020, 8, 29),
 datetime.date(2020, 8, 30),
 datetime.date(2020, 8, 31),
 datetime.date(2020, 9, 1),
 datetime.date(2020, 9, 2),
 datetime.date(2020, 9, 3),
 datetime.date(2020, 9, 4),
 datetime.date(2020, 9, 5),
 datetime.date(2020, 9, 6),
 datetime.date(2020, 9, 7),
 datetime.date(2020, 9, 8),
 datetime.date(2020, 9, 9),
 datetime.date(2020, 9, 10),
 datetime.date(2020, 9, 11),
 datetime.date(2020, 9, 12),
 datetime.date(2020, 9, 13),
 datetime.date(2020, 9, 14),
 datetime.date(2020, 9, 15),
 datetime.date(2020, 9, 16),
 datetime.date(2020, 9, 17),
 datetime.date(2020, 9, 18),
 datetime.date(2020, 9, 19),
 datetime.date(2020, 9, 20),
 datetime.date(2020, 9, 21),
 datetime.date(2020, 9, 22),
 datetime.date(2020, 9, 23),
 datetime.date(2020, 9, 24),
 datetime.date(2020, 9, 25),
 datetime.date(2020, 9, 26),
 datetime.date(2020, 9, 27),
 datetime.date(2020, 9, 28),
 datetime.date(2020, 9, 29),
 datetime.date(2020, 9, 30),
 datetime.date(2020, 10, 1),
 datetime.date(2020, 10, 2),
 datetime.date(2020, 10, 3),
 datetime.date(2020, 10, 4),
 datetime.date(2020, 10, 5),
 datetime.date(2020, 10, 6),
 datetime.date(2020, 10, 7),
 datetime.date(2020, 10, 8),
 datetime.date(2020, 10, 9),
 datetime.date(2020, 10, 10),
 datetime.date(2020, 10, 11),
 datetime.date(2020, 10, 12),
 datetime.date(2020, 10, 13),
 datetime.date(2020, 10, 14),
 datetime.date(2020, 10, 15),
 datetime.date(2020, 10, 16),
 datetime.date(2020, 10, 17),
 datetime.date(2020, 10, 18),
 datetime.date(2020, 10, 19),
 datetime.date(2020, 10, 20),
 datetime.date(2020, 10, 21),
 datetime.date(2020, 10, 22),
 datetime.date(2020, 10, 23),
 datetime.date(2020, 10, 24),
 datetime.date(2020, 10, 25),
 datetime.date(2020, 10, 26),
 datetime.date(2020, 10, 27),
 datetime.date(2020, 10, 28),
 datetime.date(2020, 10, 29),
 datetime.date(2020, 10, 30),
 datetime.date(2020, 10, 31),
 datetime.date(2020, 11, 1),
 datetime.date(2020, 11, 2),
 datetime.date(2020, 11, 3),
 datetime.date(2020, 11, 4),
 datetime.date(2020, 11, 5),
 datetime.date(2020, 11, 6),
 datetime.date(2020, 11, 7),
 datetime.date(2020, 11, 8),
 datetime.date(2020, 11, 9),
 datetime.date(2020, 11, 10),
 datetime.date(2020, 11, 11),
 datetime.date(2020, 11, 12),
 datetime.date(2020, 11, 13),
 datetime.date(2020, 11, 14),
 datetime.date(2020, 11, 15),
 datetime.date(2020, 11, 16),
 datetime.date(2020, 11, 17),
 datetime.date(2020, 11, 18),
 datetime.date(2020, 11, 19),
 datetime.date(2020, 11, 20),
 datetime.date(2020, 11, 21),
 datetime.date(2020, 11, 22),
 datetime.date(2020, 11, 23),
 datetime.date(2020, 11, 24),
 datetime.date(2020, 11, 25),
 datetime.date(2020, 11, 26),
 datetime.date(2020, 11, 27),
 datetime.date(2020, 11, 28),
 datetime.date(2020, 11, 29),
 datetime.date(2020, 11, 30),
 datetime.date(2020, 12, 1),
 datetime.date(2020, 12, 2),
 datetime.date(2020, 12, 3),
 datetime.date(2020, 12, 4),
 datetime.date(2020, 12, 5),
 datetime.date(2020, 12, 6),
 datetime.date(2020, 12, 7),
 datetime.date(2020, 12, 8),
 datetime.date(2020, 12, 9),
 datetime.date(2020, 12, 10),
 datetime.date(2020, 12, 11),
 datetime.date(2020, 12, 12),
 datetime.date(2020, 12, 13),
 datetime.date(2020, 12, 14),
 datetime.date(2020, 12, 15),
 datetime.date(2020, 12, 16),
 datetime.date(2020, 12, 17),
 datetime.date(2020, 12, 18),
 datetime.date(2020, 12, 19),
 datetime.date(2020, 12, 20),
 datetime.date(2020, 12, 21),
 datetime.date(2020, 12, 22),
 datetime.date(2020, 12, 23),
 datetime.date(2020, 12, 24),
 datetime.date(2020, 12, 25),
 datetime.date(2020, 12, 26),
 datetime.date(2020, 12, 27),
 datetime.date(2020, 12, 28),
 datetime.date(2020, 12, 29),
 datetime.date(2020, 12, 30),
 datetime.date(2020, 12, 31),
 datetime.date(2021, 1, 1),
 datetime.date(2021, 1, 2),
 datetime.date(2021, 1, 3),
 datetime.date(2021, 1, 4),
 datetime.date(2021, 1, 5),
 datetime.date(2021, 1, 6),
 datetime.date(2021, 1, 7),
 datetime.date(2021, 1, 8),
 datetime.date(2021, 1, 9),
 datetime.date(2021, 1, 10),
 datetime.date(2021, 1, 11),
 datetime.date(2021, 1, 12),
 datetime.date(2021, 1, 13),
 datetime.date(2021, 1, 14),
 datetime.date(2021, 1, 15),
 datetime.date(2021, 1, 16),
 datetime.date(2021, 1, 17),
 datetime.date(2021, 1, 18),
 datetime.date(2021, 1, 19),
 datetime.date(2021, 1, 20),
 datetime.date(2021, 1, 21),
 datetime.date(2021, 1, 22),
 datetime.date(2021, 1, 23),
 datetime.date(2021, 1, 24),
 datetime.date(2021, 1, 25),
 datetime.date(2021, 1, 26),
 datetime.date(2021, 1, 27),
 datetime.date(2021, 1, 28),
 datetime.date(2021, 1, 29),
 datetime.date(2021, 1, 30),
 datetime.date(2021, 1, 31),
 datetime.date(2021, 2, 1),
 datetime.date(2021, 2, 2),
 datetime.date(2021, 2, 3),
 datetime.date(2021, 2, 4),
 datetime.date(2021, 2, 5),
 datetime.date(2021, 2, 6),
 datetime.date(2021, 2, 7),
 datetime.date(2021, 2, 8),
 datetime.date(2021, 2, 9),
 datetime.date(2021, 2, 10),
 datetime.date(2021, 2, 11),
 datetime.date(2021, 2, 12),
 datetime.date(2021, 2, 13),
 datetime.date(2021, 2, 14),
 datetime.date(2021, 2, 15),
 datetime.date(2021, 2, 16),
 datetime.date(2021, 2, 17),
 datetime.date(2021, 2, 18),
 datetime.date(2021, 2, 19),
 datetime.date(2021, 2, 20),
 datetime.date(2021, 2, 21),
 datetime.date(2021, 2, 22),
 datetime.date(2021, 2, 23),
 datetime.date(2021, 2, 24),
 datetime.date(2021, 2, 25),
 datetime.date(2021, 2, 26),
 datetime.date(2021, 2, 27),
 datetime.date(2021, 2, 28),
 datetime.date(2021, 3, 1),
 datetime.date(2021, 3, 2),
 datetime.date(2021, 3, 3),
 datetime.date(2021, 3, 4),
 datetime.date(2021, 3, 5),
 datetime.date(2021, 3, 6),
 datetime.date(2021, 3, 7),
 datetime.date(2021, 3, 8),
 datetime.date(2021, 3, 9),
 datetime.date(2021, 3, 10),
 datetime.date(2021, 3, 11),
 datetime.date(2021, 3, 12),
 datetime.date(2021, 3, 13),
 datetime.date(2021, 3, 14),
 datetime.date(2021, 3, 15),
 datetime.date(2021, 3, 16),
 datetime.date(2021, 3, 17),
 datetime.date(2021, 3, 18),
 datetime.date(2021, 3, 19),
 datetime.date(2021, 3, 20),
 datetime.date(2021, 3, 21),
 datetime.date(2021, 3, 22),
 datetime.date(2021, 3, 23),
 datetime.date(2021, 3, 24),
 datetime.date(2021, 3, 25),
 datetime.date(2021, 3, 26),
 datetime.date(2021, 3, 27),
 datetime.date(2021, 3, 28),
 datetime.date(2021, 3, 29),
 datetime.date(2021, 3, 30),
 datetime.date(2021, 3, 31),
 datetime.date(2021, 4, 1),
 datetime.date(2021, 4, 2),
 datetime.date(2021, 4, 3),
 datetime.date(2021, 4, 4),
 datetime.date(2021, 4, 5),
 datetime.date(2021, 4, 6),
 datetime.date(2021, 4, 7),
 datetime.date(2021, 4, 8),
 datetime.date(2021, 4, 9),
 datetime.date(2021, 4, 10),
 datetime.date(2021, 4, 11),
 datetime.date(2021, 4, 12),
 datetime.date(2021, 4, 13),
 datetime.date(2021, 4, 14),
 datetime.date(2021, 4, 15),
 datetime.date(2021, 4, 16),
 datetime.date(2021, 4, 17),
 datetime.date(2021, 4, 18),
 datetime.date(2021, 4, 19),
 datetime.date(2021, 4, 20),
 datetime.date(2021, 4, 21),
 datetime.date(2021, 4, 22),
 datetime.date(2021, 4, 23),
 datetime.date(2021, 4, 24),
 datetime.date(2021, 4, 25),
 datetime.date(2021, 4, 26),
 datetime.date(2021, 4, 27),
 datetime.date(2021, 4, 28),
 datetime.date(2021, 4, 29),
 datetime.date(2021, 4, 30),
 datetime.date(2021, 5, 1),
 datetime.date(2021, 5, 2),
 datetime.date(2021, 5, 3),
 datetime.date(2021, 5, 4),
 datetime.date(2021, 5, 5),
 datetime.date(2021, 5, 6),
 datetime.date(2021, 5, 7),
 datetime.date(2021, 5, 8),
 datetime.date(2021, 5, 9),
 datetime.date(2021, 5, 10),
 datetime.date(2021, 5, 11),
 datetime.date(2021, 5, 12),
 datetime.date(2021, 5, 13),
 datetime.date(2021, 5, 14),
 datetime.date(2021, 5, 15),
 datetime.date(2021, 5, 16),
 datetime.date(2021, 5, 17),
 datetime.date(2021, 5, 18),
 datetime.date(2021, 5, 19),
 datetime.date(2021, 5, 20),
 datetime.date(2021, 5, 21),
 datetime.date(2021, 5, 22),
 datetime.date(2021, 5, 23),
 datetime.date(2021, 5, 24),
 datetime.date(2021, 5, 25),
 datetime.date(2021, 5, 26),
 datetime.date(2021, 5, 27),
 datetime.date(2021, 5, 28),
 datetime.date(2021, 5, 29),
 datetime.date(2021, 5, 30),
 datetime.date(2021, 5, 31),
 datetime.date(2021, 6, 1),
 datetime.date(2021, 6, 2),
 datetime.date(2021, 6, 3),
 datetime.date(2021, 6, 4),
 datetime.date(2021, 6, 5),
 datetime.date(2021, 6, 6),
 datetime.date(2021, 6, 7),
 datetime.date(2021, 6, 8),
 datetime.date(2021, 6, 9),
 datetime.date(2021, 6, 10),
 datetime.date(2021, 6, 11),
 datetime.date(2021, 6, 12),
 datetime.date(2021, 6, 13),
 datetime.date(2021, 6, 14),
 datetime.date(2021, 6, 15),
 datetime.date(2021, 6, 16),
 datetime.date(2021, 6, 17),
 datetime.date(2021, 6, 18),
 datetime.date(2021, 6, 19),
 datetime.date(2021, 6, 20),
 datetime.date(2021, 6, 21),
 datetime.date(2021, 6, 22),
 datetime.date(2021, 6, 23),
 datetime.date(2021, 6, 24),
 datetime.date(2021, 6, 25),
 datetime.date(2021, 6, 26),
 datetime.date(2021, 6, 27),
 datetime.date(2021, 6, 28),
 datetime.date(2021, 6, 29),
 datetime.date(2021, 6, 30),
 datetime.date(2021, 7, 1),
 datetime.date(2021, 7, 2),
 datetime.date(2021, 7, 3),
 datetime.date(2021, 7, 4),
 datetime.date(2021, 7, 5),
 datetime.date(2021, 7, 6),
 datetime.date(2021, 7, 7),
 datetime.date(2021, 7, 8),
 datetime.date(2021, 7, 9),
 datetime.date(2021, 7, 10),
 datetime.date(2021, 7, 11),
 datetime.date(2021, 7, 12),
 datetime.date(2021, 7, 13),
 datetime.date(2021, 7, 14),
 datetime.date(2021, 7, 15),
 datetime.date(2021, 7, 16),
 datetime.date(2021, 7, 17),
 datetime.date(2021, 7, 18),
 datetime.date(2021, 7, 19),
 datetime.date(2021, 7, 20),
 datetime.date(2021, 7, 21),
 datetime.date(2021, 7, 22),
 datetime.date(2021, 7, 23),
 datetime.date(2021, 7, 24),
 datetime.date(2021, 7, 25),
 datetime.date(2021, 7, 26),
 datetime.date(2021, 7, 27),
 datetime.date(2021, 7, 28),
 datetime.date(2021, 7, 29),
 datetime.date(2021, 7, 30),
 datetime.date(2021, 7, 31),
 datetime.date(2021, 8, 1),
 datetime.date(2021, 8, 2),
 datetime.date(2021, 8, 3),
 datetime.date(2021, 8, 4),
 datetime.date(2021, 8, 5),
 datetime.date(2021, 8, 6),
 datetime.date(2021, 8, 7),
 datetime.date(2021, 8, 8),
 datetime.date(2021, 8, 9),
 datetime.date(2021, 8, 10),
 datetime.date(2021, 8, 11),
 datetime.date(2021, 8, 12),
 datetime.date(2021, 8, 13),
 datetime.date(2021, 8, 14),
 datetime.date(2021, 8, 15),
 datetime.date(2021, 8, 16),
 datetime.date(2021, 8, 17),
 datetime.date(2021, 8, 18),
 datetime.date(2021, 8, 19),
 datetime.date(2021, 8, 20),
 datetime.date(2021, 8, 21),
 datetime.date(2021, 8, 22),
 datetime.date(2021, 8, 23),
 datetime.date(2021, 8, 24),
 datetime.date(2021, 8, 25),
 datetime.date(2021, 8, 26),
 datetime.date(2021, 8, 27),
 datetime.date(2021, 8, 28),
 datetime.date(2021, 8, 29),
 datetime.date(2021, 8, 30),
 datetime.date(2021, 8, 31),
 datetime.date(2021, 9, 1),
 datetime.date(2021, 9, 2),
 datetime.date(2021, 9, 3),
 datetime.date(2021, 9, 4),
 datetime.date(2021, 9, 5),
 datetime.date(2021, 9, 6),
 datetime.date(2021, 9, 7),
 datetime.date(2021, 9, 8),
 datetime.date(2021, 9, 9),
 datetime.date(2021, 9, 10),
 datetime.date(2021, 9, 11),
 datetime.date(2021, 9, 12),
 datetime.date(2021, 9, 13),
 datetime.date(2021, 9, 14),
 datetime.date(2021, 9, 15),
 datetime.date(2021, 9, 16),
 datetime.date(2021, 9, 17),
 datetime.date(2021, 9, 18),
 datetime.date(2021, 9, 19),
 datetime.date(2021, 9, 20),
 datetime.date(2021, 9, 21),
 datetime.date(2021, 9, 22),
 datetime.date(2021, 9, 23),
 datetime.date(2021, 9, 24),
 datetime.date(2021, 9, 25),
 datetime.date(2021, 9, 26),
 datetime.date(2021, 9, 27),
 datetime.date(2021, 9, 28),
 datetime.date(2021, 9, 29),
 datetime.date(2021, 9, 30),
 datetime.date(2021, 10, 1),
 datetime.date(2021, 10, 2),
 datetime.date(2021, 10, 3),
 datetime.date(2021, 10, 4),
 datetime.date(2021, 10, 5),
 datetime.date(2021, 10, 6),
 datetime.date(2021, 10, 7),
 datetime.date(2021, 10, 8),
 datetime.date(2021, 10, 9),
 datetime.date(2021, 10, 10),
 datetime.date(2021, 10, 11),
 datetime.date(2021, 10, 12),
 datetime.date(2021, 10, 13),
 datetime.date(2021, 10, 14),
 datetime.date(2021, 10, 15),
 datetime.date(2021, 10, 16),
 datetime.date(2021, 10, 17),
 datetime.date(2021, 10, 18),
 datetime.date(2021, 10, 19),
 datetime.date(2021, 10, 20),
 datetime.date(2021, 10, 21),
 datetime.date(2021, 10, 22),
 datetime.date(2021, 10, 23),
 datetime.date(2021, 10, 24),
 datetime.date(2021, 10, 25),
 datetime.date(2021, 10, 26),
 datetime.date(2021, 10, 27),
 datetime.date(2021, 10, 28),
 datetime.date(2021, 10, 29),
 datetime.date(2021, 10, 30),
 datetime.date(2021, 10, 31),
 datetime.date(2021, 11, 1),
 datetime.date(2021, 11, 2),
 datetime.date(2021, 11, 3),
 datetime.date(2021, 11, 4),
 datetime.date(2021, 11, 5),
 datetime.date(2021, 11, 6),
 datetime.date(2021, 11, 7),
 datetime.date(2021, 11, 8),
 datetime.date(2021, 11, 9),
 datetime.date(2021, 11, 10),
 datetime.date(2021, 11, 11),
 datetime.date(2021, 11, 12),
 datetime.date(2021, 11, 13),
 datetime.date(2021, 11, 14),
 datetime.date(2021, 11, 15),
 datetime.date(2021, 11, 16),
 datetime.date(2021, 11, 17),
 datetime.date(2021, 11, 18),
 datetime.date(2021, 11, 19),
 datetime.date(2021, 11, 20),
 datetime.date(2021, 11, 21),

In [11]:
df_date_convert = df_drop_cols.copy()

# Convert column names to datetime if possible
df_date_convert.columns = [convert_dates(col) for col in df_drop_cols.columns]
df_date_convert

,country_name,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,2020-01-09,...,2023-02-11,2023-02-12,2023-02-13,2023-02-14,2023-02-15,2023-02-16,2023-02-17,2023-02-18,2023-02-19,2023-02-20
0,Aruba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,Vanuatu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Yemen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,South Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Zambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 7. Standardize Country Names:
- Standardize country names and remove non-country entries using `country-converter` package.

In [12]:
# Creates dict that maps old name with standardized country names
def convert_country_names(country_names):
    standard_names = coco.convert(names=country_names, to="name_short")
    country_fix_dict = dict(zip(country_names, standard_names))
    return country_fix_dict

In [13]:
# Extract country names
old_country_names = df_date_convert["country_name"].unique()

# Convert country names and create dict to map old and new country names
country_dict = convert_country_names(old_country_names)

In [14]:
df_standardized = df_date_convert.copy()

# Replace old country names with standardized names
df_standardized["country_name"] = df_date_convert["country_name"].replace(country_dict)

# Filter out values 'not found' by country_converter
df_standardized = df_standardized[df_standardized["country_name"] != "not found"]

### 8. Unpivot Date Columns and Data Values:

In [15]:
# Transform df and unpivot columns
df_melted = pd.melt(
    df_standardized,
    id_vars="country_name",
    var_name="date",
    value_name="stringency_index",
)

df_melted = df_melted.sort_values(["country_name", "date"]).reset_index(drop=True)

df_melted

       country_name        date  stringency_index
0       Afghanistan  2020-01-01               0.0
1       Afghanistan  2020-01-02               0.0
2       Afghanistan  2020-01-03               0.0
3       Afghanistan  2020-01-04               0.0
4       Afghanistan  2020-01-05               0.0
...             ...         ...               ...
214484     Zimbabwe  2023-02-16               NaN
214485     Zimbabwe  2023-02-17               NaN
214486     Zimbabwe  2023-02-18               NaN
214487     Zimbabwe  2023-02-19               NaN
214488     Zimbabwe  2023-02-20               NaN

[214489 rows x 3 columns]

### 9. Drop Rows with `NaN` Values:

In [16]:
df_cleaned = df_melted.dropna()
df_cleaned

       country_name        date  stringency_index
0       Afghanistan  2020-01-01               0.0
1       Afghanistan  2020-01-02               0.0
2       Afghanistan  2020-01-03               0.0
3       Afghanistan  2020-01-04               0.0
4       Afghanistan  2020-01-05               0.0
...             ...         ...               ...
214433     Zimbabwe  2022-12-27              53.7
214434     Zimbabwe  2022-12-28              53.7
214435     Zimbabwe  2022-12-29              53.7
214436     Zimbabwe  2022-12-30              53.7
214437     Zimbabwe  2022-12-31              53.7

[198547 rows x 3 columns]

### 10. Rename `country_name` Column to `country`:
For consistency.

In [17]:
df_cleaned = df_cleaned.rename(columns={"country_name": "country"})
df_cleaned

            country        date  stringency_index
0       Afghanistan  2020-01-01               0.0
1       Afghanistan  2020-01-02               0.0
2       Afghanistan  2020-01-03               0.0
3       Afghanistan  2020-01-04               0.0
4       Afghanistan  2020-01-05               0.0
...             ...         ...               ...
214433     Zimbabwe  2022-12-27              53.7
214434     Zimbabwe  2022-12-28              53.7
214435     Zimbabwe  2022-12-29              53.7
214436     Zimbabwe  2022-12-30              53.7
214437     Zimbabwe  2022-12-31              53.7

[198547 rows x 3 columns]

### 11. Export to .csv File:

In [18]:
path_export = r"cleaned_data/stringency_index.csv"
df_cleaned.to_csv(path_export)